body {
  background-color: aquamarine;
  font-family: 'Calibri Light';
}

#form-box {
  background-color: burlywood;
  width: 30%;
  margin: auto;
  padding: 3%;
}

#form-intro {
  text-align: justify;
}

.form-input {
    width: 100%;
}